.nav {
  width: 100%;
  height: 10vh;
  padding: 3rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0px 1px 10px #0000001a;

  &-logo {
    flex: 0 0 30%;

    &-item {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      & .fa-bars {
        font-size: 2rem;
        color: var(--text-color);
        transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &:hover {
          color: var(--color-primary);
          transform: translateX(5px);
        }
      }

      & .logo-heading {
        font-size: 3rem;
        color: var(--color-primary);
        text-transform: uppercase;
      }
    }
  }

  &-menu {
    flex: 0 0 60%;

    &-list {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      list-style-type: none;

      &-item {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--text-color);
        cursor: pointer;

        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }
}

.user-account {
  flex: 0 0 12%;

  &-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 1px 1px 0px #00000029;
    border: 1px solid #333333;
    border-radius: 25px;
    padding: 3px 5px;

    & .icon {
      width: 3rem;
      height: 3rem;
      background-color: var(--green-color);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }

    & .fa-user {
      font-size: 2rem;
    }

    & .user-account-balance {
      font-size: 1.5rem;
    }
  }
}
